body{
margin: 0%;
background-position:center;
background-image:url('Hourglass.jpg');
background-repeat: no-repeat;
background-size: cover;
}

#clock{
font-family: 'Roboto';
font-size: 300px;
color:white;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
height: 100vh; 
}
/* added separate styling to ampm element to reduce the size of the text without affecting the entire element */
#ampm{
    font-size: 0.3em;
}
